.heading{
   color: red;
   
}

.test {
    width: 100%;
    align-items: center;
}

.nav-wrapper {
    padding-left: 100px;
    padding-right: 100px;
}

.row {
    padding: 50px 100px;
}

.div-2 {
 padding-right: 100px;
}


.author {
    padding-bottom: 20px;
}

.author-name {
    margin: 0;
    /* padding-bottom: 30px; */
}

.author-img {
    margin-right: 10px;
    margin-bottom: -25px;
}

.post-created_on {
    padding-left: 60px;
    /* margin-top: 500px; */
}

.Readmore-btn {
    padding-left: 20px;
    padding-bottom: 10px;
}

.footer-container {
    padding-top: 50px;
}
.forget_passwd {
    color: white;   
}

.register_btn {
    padding-left: 230px;
}

.like_btn {
    margin-top: -10px;
}